<div class="row">


  <div class="col-12 col-sm-6">
    <h3>Listado de Empleados</h3>

    
    <table class="table">
      <thead>
        <tr>

          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Sexo</th>
          <th>Cargo</th>
          <td >Acciones</td>
        </tr>
      </thead>
      <tbody>
        @for (e of empleados; track e.id_emp){
        <tr>
          <th>{{e.id_emp}}</th>
          <th>{{e.nombre_emp}}</th>
          <th>{{e.apellido_emp}}</th>
          <th>{{e.sexo_emp}}</th>
          <th>{{e.cargo_emp}}</th>
          <th>
            <button class="btn btn-warning" (click)="editar(e)">Editar</button>&nbsp;
            <button class="btn btn-danger" (click)="eliminar(e)">Eliminar</button>
          </th>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-12 col-sm-6 p-3">
    <h3>{{textoBoton}} Empleado</h3>
    <br>
    <form #EmpleadoForm="ngForm" (ngSubmit)="agregar(); EmpleadoForm.reset()">
      <input type="hidden" name="id_emp" id="id_emp" [(ngModel)]="empleado.id_emp">
      <label class="form-label" for="nombre_emp">Nombre</label>
      <input type="text" id="nombre_emp" name="nombre_emp" class="form-control" [(ngModel)]="empleado.nombre_emp" >
      <label class="form-label" for="apellido_emp">Apellido</label>
      <input type="text" id="apellido_emp" name="apellido_emp" class="form-control" [(ngModel)]="empleado.apellido_emp" >
      <label class="form-label" for="sexo_emp">Sexo</label>
      <input type="text" id="sexo_emp" name="sexo_emp" class="form-control" [(ngModel)]="empleado.sexo_emp" >
      <label class="form-label" for="cargo_emp">Cargo</label>
      <input type="text" id="cargo_emp" name="cargo_emp" class="form-control" [(ngModel)]="empleado.cargo_emp" >
      <br>
      <p class="text-center">
        <button type="submit" class="btn btn-success btn-sm">{{textoBoton}}</button>&nbsp;
        <button type="reset" class="btn btn-danger btn-sm">Cancelar</button>
      </p>
    </form>
  </div>
</div>

